#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #111827;
  color: #f3f4f6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
